.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    margin-left: 20rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #c6d2c2;
}   

.titulo{
    width: 15rem;
    margin-left: 6rem;
    text-align: center;
    background-color: #003847;
    color: #f0f8ff;
}

.botonFinal{
    margin-top: 4rem;
    background-color: rgb(174, 157, 190);
}

.opcion{
    width: 35rem;
    padding: 1rem;
}